{{ form_start(form) }}
    <div class="filters box-shadow border-radius">
        <h3 class="filter-title">Filtres</h3>
        <div class="my-2">
            {{ form(form) }}
        </div>
        <input type="submit" value="FILTER" class="solid-btn my-3">
    </div>
{{ form_end(form) }}
